<ng-container>
  <div [ngClass]="{'bg-base-300': !_task.completed ,'bg-success': _task.completed}"
    class="card card-compact shadow-xl mb-4">
    <div *ngIf="!editMode" class="card-body flex flex-row items-center justify-between dark:text-white">

      <div>
        <!-- input -->
        <input [ngClass]="{'hidden': updating}" type="checkbox" class="checkbox" [checked]="_task.completed"
          (change)="handleCheck()" />
        <!-- loader -->
        <span [ngClass]="{'hidden': !updating}" class="loading loading-spinner loading-sm"></span>
      </div>

      <!-- title -->
      <span (dblclick)="handleDoubleClick()" class="break-all md:break-normal">{{_task.title}}</span>

      <!-- buton -->
      <button [disabled]="deleting" (click)="handleRemove()">
        <svg [ngClass]="{'hidden': deleting}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
        <span [ngClass]="{'hidden': !deleting}" class="loading loading-spinner loading-sm"></span>
      </button>
    </div>

    <div *ngIf="editMode" class="card-body flex flex-row items-center justify-between">
      <input [formControl]="input" (keyup)="handleEdit($event)" #inputElement type="text" placeholder="Type new title"
        class="input input-bordered w-full" />
      <div class="flex gap-1">
        <button [disabled]="updating" (click)="changeTitle()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
        </button>
        <button [disabled]="updating" (click)="exitEditMode()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

  </div>
</ng-container>
